<div class="wrapper">
  <div class="report-heading" >
    <h2 class="title">中国高等教育学历证书查验结果</h2>
    <div class="checkcode">校验码 : 86533</div>
    <div class="barcode"><img src="assets/images/ex_code.png" width="180"></div>
  </div>
  <div class="infomation">
    <div class="title">OCR查询结果</div>
    <table class="table" cellpadding="0" cellspacing="0">
      <tr>
        <td>姓名</td>
        <td>杨怀明</td>
        <td>性别</td>
        <td>男</td>
      </tr>
      <tr>
        <td>出生日期</td>
        <td>1990年1月12日</td>
        <td>入学日期</td>
        <td>2007年1月09日</td>
      </tr>
      <tr>
        <td>毕(结)业日期</td>
        <td>2012年7月1日</td>
        <td>学校名称</td>
        <td>普通高等教育</td>
      </tr>
      <tr>
        <td>专业</td>
        <td>建筑学</td>
        <td>学习形式</td>
        <td>普通全日制</td>
      </tr>
      <tr>
        <td>学制</td>
        <td>5</td>
        <td>毕(结)业</td>
        <td>毕业</td>
      </tr>
      <tr>
        <td>校(院)长姓名</td>
        <td>李建章</td>
        <td>证书编号</td>
        <td>54353453453534</td>
      </tr>
    </table>
  </div>
  <div class="infomation">
    <div class="title">查询结果</div>
    <table class="table" cellpadding="0" cellspacing="0">
      <tr>
        <td>姓名</td>
        <td>杨怀明</td>
        <td>性别</td>
        <td>男</td>
      </tr>
      <tr>
        <td>出生日期</td>
        <td>1990年1月12日</td>
        <td>入学日期</td>
        <td>2007年1月09日</td>
      </tr>
      <tr>
        <td>毕(结)业日期</td>
        <td>2012年7月1日</td>
        <td>学校名称</td>
        <td>普通高等教育</td>
      </tr>
      <tr>
        <td>专业</td>
        <td>建筑学</td>
        <td>学习形式</td>
        <td>普通全日制</td>
      </tr>
      <tr>
        <td>学制</td>
        <td>5</td>
        <td>毕(结)业</td>
        <td>毕业</td>
      </tr>
      <tr>
        <td>校(院)长姓名</td>
        <td>李建章</td>
        <td>证书编号</td>
        <td>54353453453534</td>
      </tr>
    </table>
  </div>
  <div class="photo">
    <img src="assets/images/a7.jpg" alt="">
  </div>
</div>

<div class="noPrint toolbar">
  <a class="button" href="javascript:window.close();void(0);"><span class="glyph-icon icon-remove"></span> 关闭</a> &emsp;  &emsp;
</div>
