<!-- <perfect-scrollbar [config]="config" style="background-color: #fff;" class="animated fadeInUp">
  <dm-detail *ngIf="entity" [view]="view" [entity]="entity" [entityId]="entityId" [type]="type" [business]="business" [config]="config"></dm-detail>
</perfect-scrollbar> -->
<perfect-scrollbar [config]="config" style="background-color: #fff;" class="animated fadeInUp">
  <div class="ibox no-margins">
    <div class="ibox-content">
      <div>
        <h2>
          <i class="fa fa-tasks"></i>
          申请表
          <a href="{{ helpLink }}/help/#text_250738" target="_blank">
            <i class="fa fa-question-circle help-btn" tooltip="查看帮助文档" container="body"></i>
          </a>
        </h2>
      </div>
      <div class="print">
        <button class="btn btn-warning" (click)="printApplyDoc()"><i class="fa fa-print"></i> 打印申请表</button>
      </div>
      <div class="m-t-lg">
        <dm-detail *ngIf="entity" [view]="view" [entity]="entity" [entityId]="entityId" [type]="type" [business]="business" [config]="config"></dm-detail>
      </div>
    </div>
  </div>
</perfect-scrollbar>