<perfect-scrollbar [config]="config" style="background-color: #fff;">
  <div class="ibox no-margins">
    <div class="ibox-content">
      <h2>
        <i class="fa fa-file-archive-o"></i>
        电子卷宗
        <a href="{{ helpLink }}/help/#text_250739" target="_blank">
          <i class="fa fa-question-circle help-btn" tooltip="查看帮助文档" container="body"></i>
        </a>
      </h2>
      <div id="vertical-timeline" class="dark-timeline">
        <div class="vertical-timeline-block">
          <div class="vertical-timeline-icon navy-bg">
            <i class="fa fa-map"></i>
          </div>
          <div class="archive-content">
            <h2 class="group-title">01. 文书</h2>
            <div class="row">
              <div class="col-lg-12">
                <div class="file-box">
                  <div class="file">
                    <span class="corner"></span>
                    <div class="icon">
                      <i class="img-responsive fa fa-file-text"></i>
                    </div>
                    <div class="file-name">中文公证书<small>提交时间: 2017-12-28 15:35</small>
                    </div>
                  </div>
                </div>
                <div class="file-box">
                  <div class="file">
                    <span class="corner"></span>
                    <div class="icon">
                      <i class="img-responsive fa fa-file-text"></i>
                    </div>
                    <div class="file-name">拟稿纸<small>提交时间: 2017-12-28 15:35</small>
                    </div>
                  </div>
                </div>
                <div class="file-box">
                  <div class="file">
                    <a href="#">
                      <span class="corner"></span>
                      <div class="icon">
                        <i class="img-responsive fa fa-file-text"></i>
                      </div>
                      <div class="file-name">翻译件<small>提交时间: 2017-12-28 15:35</small>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="vertical-timeline-block">
          <div class="vertical-timeline-icon blue-bg">
            <i class="fa fa-film"></i>
          </div>
          <div class="archive-content">
            <h2 class="group-title">02. 申请材料</h2>
            <div class="row">
              <div class="col-lg-12">
                <div class="file-box">
                  <div class="file">
                    <span class="corner"></span>
                    <div class="icon">
                      <i class="img-responsive fa fa-file-text"></i>
                    </div>
                    <div class="file-name">申请表
                      <small>提交时间: 2017-12-28 15:11</small>
                    </div>
                  </div>
                </div>
                <div class="file-box">
                  <div class="file">
                    <span class="corner"></span>
                    <div class="icon">
                      <i class="img-responsive fa fa-file-text"></i>
                    </div>
                    <div class="file-name">身份证明材料<small>提交时间: 2017-12-28 15:11</small>
                    </div>
                  </div>
                </div>
                <div class="file-box">
                  <div class="file">
                    <span class="corner"></span>
                    <div class="icon">
                      <i class="img-responsive fa fa-file-text"></i>
                    </div>
                    <div class="file-name">当事人提供材料<small>提交时间: 2017-12-28 15:11</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="vertical-timeline-block">
          <div class="vertical-timeline-icon lazur-bg">
            <i class="fa fa-id-card-o"></i>
          </div>
          <div class="archive-content">
            <h2 class="group-title">03. 全程留痕</h2>
            <div class="row">
              <div class="col-lg-12">
                <div class="file-box">
                  <div class="file">
                    <span class="corner"></span>
                    <div class="icon">
                      <i class="img-responsive fa fa-file-text"></i>
                    </div>
                    <div class="file-name">谈话笔录
                      <small>提交时间: 2017-12-28 15:11</small>
                    </div>
                  </div>
                </div>
                <div class="file-box">
                  <div class="file">
                    <span class="corner"></span>
                    <div class="icon">
                      <i class="img-responsive fa fa-play-circle"></i>
                    </div>
                    <div class="file-name">工作记录
                      <small>提交时间: 2017-12-28 15:11</small>
                    </div>
                  </div>
                </div>
                <div class="file-box">
                  <div class="file">
                    <span class="corner"></span>
                    <div class="icon">
                      <i class="img-responsive fa fa-file-text"></i>
                    </div>
                    <div class="file-name">认证函
                      <small>提交时间: 2017-12-28 15:11</small>
                    </div>
                  </div>
                </div>
                <div class="file-box">
                  <div class="file">
                    <span class="corner"></span>
                    <div class="icon">
                      <i class="img-responsive fa fa-file-text"></i>
                    </div>
                    <div class="file-name">核查材料
                      <small>提交时间: 2017-12-28 15:11</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="vertical-timeline-block">
          <div class="vertical-timeline-icon yellow-bg">
            <i class="fa fa-table"></i>
          </div>
          <div class="archive-content">
            <h2 class="group-title">04. 流转单</h2>
            <div class="row">
              <div class="col-lg-12">
                <div class="file-box">
                  <div class="file">
                    <span class="corner"></span>
                    <div class="icon">
                      <i class="img-responsive fa fa-file-text"></i>
                    </div>
                    <div class="file-name">流转单/送达回执
                      <small>提交时间: 2017-12-28 15:11</small>
                    </div>
                  </div>
                </div>
                <div class="file-box">
                  <div class="file">
                    <span class="corner"></span>
                    <div class="icon">
                      <i class="img-responsive fa fa-rmb"></i>
                    </div>
                    <div class="file-name">公证费、认证费收据或减免收费的有关材料
                      <small>提交时间: 2017-12-28 15:11</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</perfect-scrollbar>
