<div class="lockscreen">
  <div class="user-info">
    <div class="avatar-wrap"><div class="avatar" style="background-image:url('./assets/images/a4.jpg')"></div></div>
    <h3 class="name">欢迎您，胡晓瑾</h3>
    <div class="lds-css">
      <div style="width:100%;height:100%" class="lds-ellipsis">
        <div><div></div></div>
        <div><div></div></div>
        <div><div></div></div>
        <div><div></div></div>
        <div><div></div></div>
      </div>
  </div>
  <div class="desc">正在进行人脸认证，请稍等</div>
</div>