<div class="row">
  <div class="col-lg-12" style="position: static;">
    <div class="ibox float-e-margins" style="box-shadow: none;">
      <div class="ibox-title">
        <h3>身份核验</h3>
      </div>
      <div class="ibox-content ibox-content-noborder photo-ibox-content">
        <div class="row">
          <div class="col-lg-6">
            <div class="photo-wrap">
              <div class="upload-heading">
                <span class="title">身份证正面</span>
              </div>
              <!-- <app-photograph [photoTitle]="'请把身份证正面朝上对准摄像头对准后点击拍照按钮'" [deviceId]="'deviceOne'" [showDevice]="'T882'"></app-photograph> -->
            </div>
          </div>
          <div class="col-lg-6">
            <div class="photo-wrap">
              <div class="upload-heading">
                <span class="title">身份证反面</span>
              </div>
              <!-- <app-photograph [photoTitle]="'请把身份证反面朝上对准摄像头对准后点击拍照按钮'" [deviceId]="'deviceTwo'" [showDevice]="'T882'"></app-photograph> -->
            </div>
          </div>
        </div>
        <div class="text-center module-over-btn">
          <a class="btn btn-primary" [routerLink]="'/startview/task'">完成</a>
        </div>
      </div>
    </div>
  </div>
</div>
